services:
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./source/FlashCardsBackend/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    volumes:
      - ./source/FlashCardsBackend/loki/loki-config.yml:/etc/loki/config.yml
      - loki_data:/loki
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./source/FlashCardsBackend/promtail/promtail-config.yml:/etc/promtail/config.yml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    depends_on:
      - loki
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
      - ./source/FlashCardsBackend/grafana/provisioning:/etc/grafana/provisioning
      - ./source/FlashCardsBackend/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
      - loki
    networks:
      - monitoring

  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_DB=flashcards
      - POSTGRES_PASSWORD=changeMeStrong123
      - POSTGRES_USER=flashcards_user
    volumes:
      - pg_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - db

  kafka:
    image: apache/kafka:4.1.1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:9092,EXTERNAL://localhost:9094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka_data:/var/lib/kafka/data
    ports:
      - "9094:9094"
    networks:
      - kafka

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"
    depends_on:
      - kafka
    networks:
      - kafka

  backend:
    build:
      context: ./source/FlashCardsBackend
      dockerfile: Dockerfile.dev
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/flashcards
      SPRING_DATASOURCE_USERNAME: flashcards_user
      SPRING_DATASOURCE_PASSWORD: changeMeStrong123
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      ALLOWED_ORIGINS: http://frontend:3002-http://backend:8080
      LOKI_PUSH_URL: http://loki:3100/loki/api/v1/push
      SPRING_DOCKER_COMPOSE_ENABLED: "false"
    volumes:
      - ./source/FlashCardsBackend:/app
      - maven_repo:/root/.m2
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - monitoring
      - db
      - api
      - kafka

  hosted:
    build:
      context: ./source/FlashCardsHostedServices
      dockerfile: Dockerfile.dev
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: hosted-service-group
      SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
      SPRING_KAFKA_PRODUCER_ACKS: all
      SPRING_MAIL_HOST: smtp.example.com
      SPRING_MAIL_PORT: 587
      SPRING_MAIL_USERNAME: your_username
      SPRING_MAIL_PASSWORD: your_password
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: "true"
      LOKI_PUSH_URL: http://loki:3100/loki/api/v1/push
      SPRING_DOCKER_COMPOSE_ENABLED: "false"
    volumes:
      - ./source/FlashCardsHostedServices:/app
      - maven_repo_hs:/root/.m2
    networks:
      - monitoring
      - kafka

  frontend:
    build:
      context: ./source/FlashCardsGUI
      dockerfile: Dockerfile.dev
    environment:
      NEXT_PUBLIC_API_URL: backend:8080
      LOKI_PUSH_URL: http://loki:3100/loki/api/v1/push
      APP_NAME: frontend
      METRICS_PREFIX: frontend_
      WATCHPACK_POLLING: "true"
    volumes:
      - ./source/FlashCardsGUI:/app
      - fe_node_modules:/app/node_modules
    stdin_open: true
    tty: true
    ports: ["3002:3000"]
    depends_on:
      - backend
      - loki
    networks:
      - monitoring
      - api

volumes:
  fe_node_modules: {}
  loki_data: {}
  grafana_data: {}
  pg_data: {}
  maven_repo: {}
  maven_repo_hs: {}
  kafka_data: {}

networks:
  monitoring:
  db:
  api:
  kafka:
