apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  template:
    metadata:
      annotations:
        vault.hashicorp.com/role: "flashcards-postgres-dev"
        vault.hashicorp.com/agent-inject-secret-postgres-password.txt: "secret/data/flashcards-dev/backend"
        vault.hashicorp.com/agent-inject-template-postgres-password.txt: |
          {{- with secret "secret/data/flashcards-dev/backend" -}}
          {{ .Data.data.SPRING_DATASOURCE_PASSWORD }}
          {{- end }}
