apiVersion: v1
kind: Service
metadata:
  name: {{ postgres_service_name }}
  namespace: {{ postgres_namespace }}
spec:
  clusterIP: None
  selector:
    app: postgresql
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
  namespace: {{ postgres_namespace }}
spec:
  serviceName: {{ postgres_service_name }}
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      securityContext:
        fsGroup: 999
      containers:
        - name: postgresql
          image: {{ postgres_image }}
          ports:
            - name: postgresql
              containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_INITDB_ARGS
              value: --auth-host=scram-sha-256 --data-checksums
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ postgres_superuser_secret }}
                  key: password
          resources:
            requests:
              cpu: {{ postgres_request_cpu }}
              memory: {{ postgres_request_memory }}
            limits:
              cpu: {{ postgres_limit_cpu }}
              memory: {{ postgres_limit_memory }}
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "postgres", "-d", "postgres"]
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: local-path
        resources:
          requests:
            storage: {{ postgres_storage_size }}
