apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "flashcards-backend"
        vault.hashicorp.com/agent-inject-secret-backend-config.properties: "kv/data/flashcards/backend"
        vault.hashicorp.com/agent-inject-template-backend-config.properties: |
          {{- with secret "kv/data/flashcards/backend" -}}
          spring.datasource.password={{ .Data.data.SPRING_DATASOURCE_PASSWORD }}
          jwt.secret={{ .Data.data.JWT_SECRET }}
          {{- end }}
    spec:
      serviceAccountName: backend-sa
      initContainers:
        - name: wait-for-vault
          image: curlimages/curl:8.10.1
          command:
            - sh
            - -c
          args:
            - |
              echo "Czekam na Vault pod http://vault.vault:8200/v1/sys/health..."
              # sealed=false oznacza, że Vault jest odpieczętowany i gotowy
              until curl -sf http://vault.vault:8200/v1/sys/health | grep '"sealed":false' >/dev/null; do
                echo "Vault jeszcze niegotowy, śpię 3s..."
                sleep 3
              done
              echo "Vault gotowy."

      containers:
        - name: backend
          image: flashcards-backend
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: SERVER_PORT
              value: "8080"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/flashcards"
            - name: SPRING_DATASOURCE_USERNAME
              value: "flashcards_user"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: ALLOWED_ORIGINS
              value: "http://frontend:3000-http://backend:8080"
            - name: LOKI_PUSH_URL
              value: "http://loki:3100/loki/api/v1/push"
            - name: SPRING_DOCKER_COMPOSE_ENABLED
              value: "false"
            - name: SPRING_CONFIG_ADDITIONAL_LOCATION
              value: "file:/vault/secrets/backend-config.properties"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080